.chat-layout {
    background-image: url('../assets/images/2251426.jpg');
    background-size: contain; /* or contain depending on your design */
    background-repeat: no-repeat;
    background-position: center;
  }
  